<?xml version="1.0"?>
<config>
	<modules>
		<OnlineBiz_MageMenu>
			<version>1.5.0</version>
		</OnlineBiz_MageMenu>
	</modules>
	<global>
		<models>
			<magemenu>
				<class>OnlineBiz_MageMenu_Model</class>
				<resourceModel>magemenu_resource_eav_mysql4</resourceModel>
			</magemenu>
			<magemenu_resource_eav_mysql4>
				<class>OnlineBiz_MageMenu_Model_Resource_Eav_Mysql4</class>
				<entities>
					<menuitem>
						<table>magemenu_entity</table>
					</menuitem>
				</entities>
			</magemenu_resource_eav_mysql4>
		</models>
		<resources>
			<magemenu_setup>
				<setup>
					<module>OnlineBiz_MageMenu</module>
					<class>OnlineBiz_MageMenu_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</magemenu_setup>
			<magemenu_write>
				<connection>
					<use>core_write</use>
				</connection>
			</magemenu_write>
			<magemenu_read>
				<connection>
					<use>core_read</use>
				</connection>
			</magemenu_read>
		</resources>
		<helpers>
			<magemenu>
				<class>OnlineBiz_MageMenu_Helper</class>
			</magemenu>
		</helpers>
		<blocks>
			<magemenu>
				<class>OnlineBiz_MageMenu_Block</class>
			</magemenu>
		</blocks>
	</global>
	<admin>
		<routers>
			<magemenu>
				<use>admin</use>
				<args>
					<module>OnlineBiz_MageMenu</module>
					<frontName>magemenu</frontName>
				</args>
			</magemenu>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<magemenu>
				<title>Mage Menu</title>
				<sort_order>60</sort_order>
				<children>
					<managemenu translate="title" module="magemenu">
						<title>Manage Menus</title>
						<action>magemenu/adminhtml_menuitem/</action>
						<sort_order>1</sort_order>
					</managemenu>
				</children>
			</magemenu>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<magemenu>
							<title>Mage Menu</title>
							<sort_order>80</sort_order>
							<children>
                                <managemenu>
                                    <title>Manage Menus</title>
									<sort_order>10</sort_order>
                                </managemenu>
                            </children>
						</magemenu>
						<system>
							<children>
								<config>
									<children>
										<magemenu translate="title" module="magemenu">
											<title>Mage Menu</title>
											<sort_order>50</sort_order>
										</magemenu>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<magemenu>
					<file>onlinebizsoft/magemenu.xml</file>
				</magemenu>
			</updates>
		</layout>
		<translate>
			<modules>
				<OnlineBiz_MageMenu>
					<files>
						<default>OnlineBiz_MageMenu.csv</default>
					</files>
				</OnlineBiz_MageMenu>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<layout>
			<updates>
				<magemenu>
					<file>onlinebizsoft/magemenu.xml</file>
				</magemenu>
			</updates>
		</layout>
		<translate>
			<modules>
				<OnlineBiz_MageMenu>
					<files>
						<default>OnlineBiz_MageMenu.csv</default>
					</files>
				</OnlineBiz_MageMenu>
			</modules>
		</translate>
	</frontend>
</config> 