<?xml version="1.0"?>
<config>
    <modules>
        <DataFeedWatch_Connector>
            <version>0.2.16</version>
        </DataFeedWatch_Connector>
    </modules>
    <admin>
        <routers>
            <connector>
                <use>admin</use>
                <args>
                    <module>DataFeedWatch_Connector</module>
                    <frontName>connector</frontName>
                </args>
            </connector>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog translate="title" module="adminhtml">
                <children>
                    <connectorbackend translate="title" module="connector">
                        <title>DataFeedWatch</title>
                        <action>connector/adminhtml_settings</action>
                    </connectorbackend>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <catalog>
                        <children>
                            <connectorbackend translate="title" module="connector">
                                <title>DataFeedWatch</title>
                            </connectorbackend>
                        </children>
                    </catalog>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <connector>
                    <file>connector.xml</file>
                </connector>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <connector>
                <class>DataFeedWatch_Connector_Model</class>
            </connector>
        </models>
        <helpers>
            <connector>
                <class>DataFeedWatch_Connector_Helper</class>
            </connector>
        </helpers>
        <blocks>
            <connector>
                <class>DataFeedWatch_Connector_Block</class>
            </connector>
        </blocks>
        <resources>
            <datafeedwatch_connector_setup>
                <setup>
                    <module>DataFeedWatch_Connector</module>
                </setup>
            </datafeedwatch_connector_setup>
        </resources>
    </global>
</config>