<?xml version="1.0"?>
<config>
    <modules>
        <IndustryWest_Page>
            <version>0.0.1</version>
        </IndustryWest_Page>
    </modules>
    <global>
        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>IndustryWest_Page_Block_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
